.app {
  text-align: center;
}

ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.car-input,
.car-list {
  margin: 0 auto;
  max-width: 1200px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background: lightgreen;
  padding: 10px;
}

th,
td {
  border: 1px solid grey;
}

.add-car {
  margin: 20px 0;
}

.add-car button,
.add-car input,
.add-car select {
  height: 40px;
  margin: 0 15px;
}

#turnOn {
  margin-left: 20px;;
}